@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(196, 167, 114);
    padding: 0px;
    margin: 0px;   
}

#title{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    color: aliceblue;
}

#calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 500px;
}

#display{
    display: flex;
    font-size: 50px;
    margin-bottom: 50px;
}

#input{
    display: flex;
    flex-direction: column;
}

#eraseSection{
    display: flex;
    padding-bottom: 15px;
}

#eraseSection button{
    color: ;
    background-color: tomato;
    margin-left: 90px;
    width: 180px;
}

#clearBtn button{
    background-color: tomato;
    margin-left: 8px;
    margin-right: 0px;
}


#calculation{
    display: flex;
    justify-content: center;
}

#calculation button{
    display: flex;
    width: 100px;
}

#numbers{
    display: flex;
}

button{
    font-size: 35px ;
    padding: 10px;
    border-radius: 5px;
    margin: 8px;
    background-color: aliceblue;
    color: rgb(12, 12, 12);
}

footer{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    padding: 20px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    width: 1880px;
}

footer img{
    padding-left: 20px;
}